extend layout
block content
  form(name="input", action="/validateuser", method="post")
    key Username
      input(type="text", name="user")
    br
    key Password
      input(type="password", name="pass")
    br
    input(type="submit", value="Login")