!!!5
html
  head
    title #{title}
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript' src='https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js')
  body
    header
      h1 Jira Project Overview
      h5 A project management interface for Jira issues
    .container
      .main-content
        block content
    footer
      p Source Available on GitHub